<template>
<section>
    <div class="home mt-5">
      <img alt="Vue logo" src="../assets/logo-gbp.jpg" width="150" height="150">
      <div class="row justify-content-center" >
          <button class="bg-danger text-white border w-25 rounded p-2" @click="modal.toggle()">OPEN MODAL</button>
      </div>
      <HelloWorld msg="Bienvenido a GBP"/>
  </div>
  <div ref="modal1" class="modal" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Titulo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Esto es una ejemplo para utilizar el modal</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Accion</button>
        </div>
      </div>
    </div>
  </div>
</section>

</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import { Modal } from 'bootstrap'

export default {
  name: 'Home',
  data () {
    return {
      modal: ''
    }
  },
  mounted () {
    this.modal = new Modal(this.$refs.modal1)
  },

  components: {
    HelloWorld
  }
}
</script>
